[run]
source_pkgs =
    active_inference
    analysis
    core
    energy
    hierarchy
    oscillation
    reservoir
    stats
    validation
source =
    examples
omit =
    tests/*
    delete_pycache.py
    */__pycache__/*
    */*.pyc

[report]
omit =
    tests/*
    delete_pycache.py
    */__pycache__/*
    */*.pyc
